<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="subscriptionAttributes" xsi:type="object">Oracle\Optin\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
  <type name="Magento\Customer\CustomerData\SectionPoolInterface">
    <arguments>
      <argument name="sectionSourceMap" xsi:type="array">
        <item name="webform" xsi:type="string">Oracle\Optin\Block\Webform</item>
      </argument>
    </arguments>
  </type>
</config>
