<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="oracle_connector_queue_browse_transform">
    <observer name="oracle_connector_queue_browse_transform_handle" instance="Oracle\Browse\Model\Observer\AfterTransformEventObserver" />
  </event>
  <event name="oracle_connector_integration_endpoint_additional">
    <observer name="oracle_browse_integration_endpoint_additional" instance="Oracle\Browse\Model\Observer\AfterIntegrationAdditionalObserver" />
  </event>
</config>
