<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_save_after">
        <observer name="oracle_email_quote_save_after" instance="Oracle\Email\Observer\Trigger\AfterQuoteSaveObserver" />
    </event>
    <event name="oracle_cart_fiddle">
        <observer name="oracle_email_cart_fiddle_handle" instance="Oracle\Email\Observer\Trigger\AfterQuoteSaveObserver" />
    </event>
</config>
