vendor
Magento/*
.DS_Store
*.swp
.idea/
auth.json
~.aws/
.project
.buildpath
.settings
.htaccess
.htaccess.sample
.php_cs.dist
.travis.yml
.user.ini
.editorconfig
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE_AFL.txt
auth.json.sample
bin/.htaccess
bin/magento
dev/
/index.php
/grunt-config.json.sample
/nginx.conf.sample
/package.json.sample
/lib/
/phpserver/
/pub/
/setup/
/var/
.travis.*
builds/*
.DS_Store
