<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap=""
    backupGlobals="false"
    backupStaticAttributes="false"

    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"

    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"

    syntaxCheck="true">

    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
